.nav-container {
  width: 100%;
  background: transparent;
  top: 0;
  position: fixed;
  
}

nav {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px 1fr 150px 150px 150px 150px;
  grid-template-rows: 75px;
  align-items: center;
}

.nav-logo {
  text-align: center;
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 700;
}

.nav-item {
  text-align: center;
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: 400;
}

.scrolled{
  background: white !important;
  color: #161616;
}

.a-scrolled {
    color:#161616;
}

a#about.active  {
  color: #64a19d;
  outline: none;
  border-bottom: 0.25rem solid #64a19d;
}

.nav-item>.active>a {
  color: #64a19d;
  outline: none;
  border-bottom: 0.25rem solid #64a19d;
}

/* nav {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 75px;
  
} */

/* .left-menu {
  grid-column: 1;
  align-self: center;
} */

/* .logo {
  grid-column: 2;
} */

#nav-toggle, .burger-menu {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .burger-menu {
    display: inline-block;
  }
  .left-menu {
    display: none;
  }
  #nav-toggle:checked~.left-menu {
    display: grid;
    grid-row: 2;
  }
}

.burger-menu {
  width: 40px;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  /* font-family: 'Oswald', sans-serif; */
  transition: .3s all ease-in-out;
}

nav a:hover {
  opacity: .7;
}

.left-menu a {
  padding: 10px 0;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.burger-menu {
  grid-column: 1;
  align-self: center;
  margin-left: 20px;
}

.main-section{
  display: grid;
  grid-template-columns: auto auto auto;    
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url(../media/main.png);
  background-size: cover;
  background-attachment: scroll;
}

.main-item {
  grid-column: 2;
  text-align: center;
  padding: 250px;
}

#main  a{
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #64a19d;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#main h1{
  font-family: 'Varela Round';
  font-size: 104px;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(255,255,255,.5);
  letter-spacing: 0.8rem;
  /* background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
    /* -webkit-text-fill-color: transparent;
    display: block;
    /* font-size: 2em; */
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}

#main h2{
  font-family: 'Nunito';
  font-size: 20px;
  font-weight: 500;
  color: rgba(255,255,255,.5);
  display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  /* background-color: #fff; */
}

.about-section {
  display: grid;
  background: #212529; 
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 100px auto auto auto auto auto auto auto 50px;
  row-gap: 10px;
  padding: 40px;
}

.about-header{
  grid-column: 2;
  text-align: center;
  padding-top: 40px;   
}

.about-item {
  text-align: center;
  grid-column: 2;
  background: #212529;
}

#about h2{
  color: white;
}

#about p{
  font-family: 'Nunito';
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

#about hr{
  display: block; height: 3px;
    border: 0; border-top: 3px solid #64A19D;
    margin: 1em 0; padding: 0;
  width: 50%;
    margin-left:25% !important; margin-right:25% ;
    color: #64A19D;
}

.services-section {
  display: grid;
  background: #fff;
  grid-template-columns: 1fr 465px 465px 1fr;
  grid-template-rows: 100px 300px 300px 300px 50px;
  padding: 40px;
}

.services-header{
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  padding-top: 40px;     
}

.services-item {
  text-align: center;  
  font-family: 'Nunito';
  font-size: 14.4px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.services-item1 {
  grid-column: 2;
  background: #212529;
  color: #fff;
}

.services-item2 {
  grid-column: 3;
  background: #ffffff;
  color: #212529;
}

.services-item3 {
  grid-column: 2;
  background: #ffffff;
  color: #212529;
}

.services-item4 {
  grid-column: 3;
  background: #212529;
  color: #fff;
}

.services-item5 {
  grid-column: 2;
  background: #212529;
  color: #fff;
}

.services-item6 {
  grid-column: 3;
  background: #ffffff;
  color: #212529;
}

.services-item-content1 {
  color: rgba(255, 255, 255, 0.5);  
}

.services-item-content2 {
  color: #212529;
}

#services h2{
  font-family: 'Nunito';
  font-size: 32px;
  color: #212529;
}

#services hr {
  display: block; height: 3px;
    border: 0; border-top: 3px solid #64A19D;
    margin: 1em 0; padding: 0;
    width: 50%;
    margin-left:25% !important; margin-right:25% ;
    color: #64A19D;
}


.testimonials-section {
  display: grid;
  background: white;
  grid-template-columns: 1fr 700px 1fr;
  grid-template-rows: 100px auto auto auto auto 50px;
  row-gap: 10px;
  padding: 40px;
}

.testimonials-header{
  grid-column: 2;
  text-align: center;
  padding-top: 40px;    
}

.testimonials-item {
  grid-column: 2;
  text-align: center;
  background: #212529;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#testimonials h2{
  /* grid-row: 1; */
  font-family: 'Nunito';
  font-size: 32px;
  color: #212529;
}

#testimonials h4{
  font-family: 'Nunito';
  font-size: 20px;
  color: white;
}

#testimonials p{
  font-family: 'Nunito';
  font-size: 14.4px;
  color: rgba(255, 255, 255, 0.5);
}

#testimonials hr{
  display: block; height: 3px;
    border: 0; border-top: 3px solid #64A19D;
    margin: 1em 0; padding: 0;
    width: 50%;
    margin-left:25% !important; margin-right:25% 
}

.contact-section {
  display: grid;
  background: #212529;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20px auto;
  column-gap: 20px;
  padding: 40px;
}

.contact-item {
  grid-row: 2;
  text-align: center;
  background: white;
  border: 4px;
  border-color: white;
  border-style: solid;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-color: #64A19D;
}

.contact-item1{
  grid-column: 2;
}

.contact-item2{
  grid-column: 3;
}

.contact-side-item {
  background: #212529;
}

#contact h4 {
  font-family: 'Varela Round';
  font-size: 12.8px;
  color: #64A19D;
}

#contact i {
  color: #64A19D;
}

#contact hr {
  display: block; height: 3px;
    border: 0; border-top: 3px solid #64A19D;
    margin: 1em 0; padding: 0;
    width: 50%;
    margin-left:25% !important; margin-right:25% ;
    color: #64A19D;
}

footer {
  display: grid;
  background: #212529;
  grid-template-columns: auto;
  text-align: center;
  height: 50px;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}